<%= form_for @todo, { class: "my-form", remote: true } do |f| %>
  <div class="input-group">
    <%= f.text_area :title, :class => "form-control" %>
    <div class="input-group-addon">
      <%= f.submit "Update", :class => "my-btn my-btn-transparent" %>
    </div>
  </div>
<% end %>